@import url('https://fonts.googleapis.com/css2?family=Delius&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    text-align: center;
    font-family: 'Delius', 'Times New Roman', Times, serif;
}

body {
    width: 960px;
    margin: 0 auto;
}

.canvas {
    height: 960px;
    width: inherit;
    outline: 1px solid black;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
}

button {
    padding: 10px 25px;
    margin: 10px 20px;
    flex: 1;
    font-size: 20px;
}

.grid {
    outline: rgb(220, 220, 220) solid 1px;
}

.buttons {
    display: flex;
}