* {
    text-align: center;
}

.canvas {
    height: 960px;
    width: 960px;
    outline: 1px solid black;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
}

button {
    padding: 10px 25px;
}